<table border="1", cellspacing="2">

  <thead>
    <tr>
      <th>ID</th>
      <th>Task</th>
      <th>Due Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% for(var i=0; i<allTodos.length; i++){ %>
      <tr>
        <td><%= allTodos[i].id %></td>
        <td><%= allTodos[i].title %></td>
        <td><%= allTodos[i].dueDate %></td>
        <td><%= allTodos[i].completed? 'Completed' : 'Incompleted' %></td>
      </tr>
    <% } %>
  </tbody>
</table>
